.navbar-nav{
  padding-top: 0.5em;
}
.card {
  margin-bottom: 20px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: lavender;
    margin-top: 50px;
}
.sitelogo {
    font-size: 70px;
    font-family: 'DM Serif Display', serif;
}

.cardtitle {
    color: #212529;
    text-decoration: none;
}
.container-lg {
margin-bottom: 20px;
padding-left: 0px;
}

img, svg {
    max-width: 80%;
}

p, .p {  
    font-size: 20px;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;    
    margin-top: 25px;
}

h2, .h2 {
    font-size: 55px;
    max-width: 80%;
    text-align: center;
    line-height: 1.5em;
    margin-right: auto;
    margin-left: auto;
    font-family: 'DM Serif Display', serif;
    margin-top: 25px;
}


h3, .h3 {
    font-size: 30px;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;    
    margin-top: 25px;
    text-transform: uppercase;
}


h4, .h4 {
    font-size: 30px;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    text-transform: uppercase;
}


h5, .h5 {
    font-size: 30px;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    text-transform: uppercase;
}

ul, .ul {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;    
    margin-top: 25px;
}

.navback {
    background-color: #e8e8e8 !important;
}

.bg-light {
    background-color: #e8e8e8 !important;
}

.byline {
    font-size: 15px;
    max-width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-transform: uppercase;
}

.dropcap {
    font-size: 60px;
    color: #000;
    padding-right: 5px;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
